### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count=purchase_data['SN'].nunique()
total_players = pd.DataFrame({'Total Players':[player_count]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items=purchase_data['Item ID'].nunique()
average_price=round(purchase_data['Price'].mean(),2)
numof_purchase=purchase_data['Purchase ID'].nunique()
total_rev=purchase_data['Price'].sum()
summary_dataframe=pd.DataFrame({'Number of Unique Items':[unique_items],
                               'Average Price':[average_price],
                               'Number of Purchases':[numof_purchase],
                               'Total Revenue':[total_rev]})
summary_dataframe['Average Price']=summary_dataframe['Average Price'].map('${:,.2f}'.format)
summary_dataframe

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     183         $3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
player_data = purchase_data.copy()
player_data = player_data.drop_duplicates(['SN'])
gender_count = player_data['Gender'].value_counts()
gender_table = pd.DataFrame([gender_count])
gender_table = gender_table.transpose()
gender_percentage = gender_table['Gender']/gender_table['Gender'].sum()
gender_table['Percentage of Players'] = gender_percentage
gender_table['Percentage of Players'] = pd.Series(["{0:.2f}".format(val * 100) for val in gender_table['Percentage of Players']], index = gender_table.index)
gender_table=gender_table.rename(columns={'Gender': 'Total Count'})
gender_table

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#average purchase price
purchasing_data=purchase_data.copy()
male=purchasing_data.loc[purchasing_data['Gender']=='Male',:]
male_avg = round(male['Price'].mean(),2)
female=purchasing_data.loc[purchasing_data['Gender']=='Female',:]
female_avg = round(female['Price'].mean(),2)
other=purchasing_data.loc[purchasing_data['Gender']=='Other / Non-Disclosed',:]
other_avg = round(other['Price'].mean(),2)
avg_purchase_price = [male_avg,female_avg,other_avg]
#total purchase value
male_total = round(male['Price'].sum(),2)
female_total = round(female['Price'].sum(),2)
other_total = round(other['Price'].sum(),2)
total_purchase = [male_total,female_total,other_total]
#avg total purchase per person
male_tpp = round(male_total/male['SN'].nunique(),2)
female_tpp = round(female_total/female['SN'].nunique(),2)
other_tpp = round(other_total/other['SN'].nunique(),2)
tpp = [male_tpp,female_tpp,other_tpp]
#set up table
purchasing_data = purchase_data.copy()
purchase_count=purchasing_data['Gender'].value_counts()
purchasing_analysis = pd.DataFrame([purchase_count])
purchasing_analysis = purchasing_analysis.transpose()
purchasing_analysis['Average Purchase Price'] = avg_purchase_price
purchasing_analysis['Average Purchase Price']=purchasing_analysis['Average Purchase Price'].map('${:,.2f}'.format)
purchasing_analysis['Total Purchase Value'] = total_purchase
purchasing_analysis['Total Purchase Value']=purchasing_analysis['Total Purchase Value'].map('${:,.2f}'.format)
purchasing_analysis['Avg Total Purchase per Person'] = tpp
purchasing_analysis['Avg Total Purchase per Person']=purchasing_analysis['Avg Total Purchase per Person'].map('${:,.2f}'.format)
purchasing_analysis = purchasing_analysis.rename(columns={'Gender':'Purchase Count'})
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
#create bins and group
bins = [0,9,14,19,24,29,34,39,999999]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
#create dataset with unique SN rows called binned
binned = purchase_data.copy()
binned=binned.drop_duplicates(['SN'])
binned = binned.loc[:,['Age']]
binned['Bin'] = pd.cut(binned['Age'],bins,labels=group_names)
binned = binned.groupby('Bin')
binned = binned.count()
binned = binned.rename(columns={'Age':'Total Count'})
percentage_of_player = round(binned['Total Count']/binned['Total Count'].sum()*100,2)
binned['Percentage of Player'] = percentage_of_player
binned['Percentage of Player'] = binned['Percentage of Player'].map('{:.2f}'.format)
del binned.index.name
binned

       Total Count Percentage of Player
<10             17                 2.95
10-14           22                 3.82
15-19          107                18.58
20-24          258                44.79
25-29           77                13.37
30-34           52                 9.03
35-39           31                 5.38
40+             12                 2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
#create datatable purchase bin(pbin)
pbin = purchase_data.copy()
#add Bins Column
pbin['Bin'] = pd.cut(pbin['Age'],bins,labels=group_names)
#extract columns that are needed
pbin=pbin.loc[:,['Purchase ID','SN', "Age", "Price", "Bin"]]
pbin=pbin.groupby('Bin')
#create dataframe for analysis pbina
pbina=pd.DataFrame(pbin['Age'].count())
pbina = pbina.rename(columns={'Age':'Purchase Count'})
pbina['Average Purchase Price'] = round(pbin['Price'].mean(),2)
pbina['Average Purchase Price'] = pbina['Average Purchase Price'].map('${:.2f}'.format)
pbina['Total Purchase Value'] = pbin['Price'].sum()
pbina['Total Purchase Value']=pbina['Total Purchase Value'].map('${:.2f}'.format)
pbina['Avg Total Purchase per Person'] = round(pbin['Price'].sum()/pbin['SN'].nunique(),2)
pbina['Avg Total Purchase per Person']=pbina['Avg Total Purchase per Person'].map('${:.2f}'.format)
del pbina.index.name
pbina.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [51]:
#create datatable ts
ts= purchase_data.copy()
ts.head()
ts=ts.loc[:,["SN",'Gender','Price']]
ts=ts.groupby('SN')
#create dataframe tsa
tsa=pd.DataFrame(ts['Gender'].count())
tsa=tsa.rename(columns={'Gender':'Purchase Count'})
tsa['Average Purchase Price']=ts['Price'].mean()
tsa['Total Purchase Value'] = ts['Price'].sum()
#sorting
tsa=tsa.sort_values(by=['Total Purchase Value'],ascending=0)
tsa.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [58]:
#create datatable pi
pi= purchase_data.copy()
pi=pi.loc[:,["Item ID",'Item Name','Price']]
pi=pi.groupby(['Item ID','Item Name'])
#create dataframe pia
pia=pd.DataFrame(pi['Item ID'].count())
pia=pia.rename(columns={'Item ID':'Purchase Count'})
pia['Item Price']=pi['Price'].mean()
pia['Total Purchase Value'] = pi['Price'].sum()
#sorting
pia=pia.sort_values(by=['Purchase Count'],ascending=0)
pia.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [60]:
#sort by total purchas value
mostprofit=pia.sort_values(by=['Total Purchase Value'],ascending=0)
mostprofit.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80